body {
    font-family: Arial, sans-serif;
    width: 380px;
    padding: 5px;
    background-color: #2d2d2d;
    color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

button {
    width: auto;
    padding: 5px 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

#openSettings {
    background: none;
    color: #007bff;
    font-size: 20px;
    padding: 0;
    border: none;
    cursor: pointer;
}

#status {
    color: #666;
    margin: 5px 0;
    font-size: 10px;
}

#responseOutput,
#xpathOutput {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: monospace;
    cursor: pointer;
    background-color: #444;
    color: #f0f0f0;
    transition: border-color 0.3s ease;
    font-size: 10px;
}

#responseOutput {
    height: 100px;
    resize: vertical;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#responseOutput:focus,
#xpathOutput:focus {
    outline: none;
    border-color: #007bff;
}

.error {
    color: #dc3545;
    border-color: #dc3545;
}

.success {
    border-color: #28a745;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.container button {
    width: auto;
}

.loader {
    font-size: 12px;
    color: #666;
}

#selectElement {
    font-size: 14px;
    padding: 8px 10px;
}